extends layout


block header
    div.col-lg-6.div--inbox
        h1
            |Inbox
        button(class="btn btn-default" type="submit" )
            span(class="glyphicon glyphicon-refresh")
            |&nbsp Refresh

        button(class="btn btn-default" type="submit")
            span(class="glyphicon glyphicon-eye-open")
        button(class="btn btn-default" type="submit") !
        button(class="btn btn-default" type="submit")
            span(class="glyphicon glyphicon-trash")

    div.col-lg-6.div--search
        div.input-group
            input.form-control(type='text', placeholder='Search')
            span.input-group-btn
                button.btn.btn-secondary(type='button' onclick="searchMessage()" ) Search
        button.btn.btn-default.btn--float(type='button')
            span(class="glyphicon glyphicon-arrow-right")
        button.btn.btn-default.btn--float(type='button')
            span(class="glyphicon glyphicon-arrow-left")



block compose
    button(class="btn btn-block" type="submit") Compose Mail

block folders
    h5(class="list-group-item-heading")
        |FOLDERS
    ul(class="list-unstyled" )
        li: a#Inbox(href='#' )
            span(class="glyphicon glyphicon-book" )
            |Inbox
            span(class="badge")
        li: a#Send_Mail(href='#' )
            span(class="glyphicon glyphicon-envelope")
            |Send Mail
        li: a#Important(href='#' )
            span(class="glyphicon glyphicon-certificate")
            |Important
        li: a#Drafts(href='#' )
            span(class="glyphicon glyphicon-list-alt")
            |Drafts
            span(class="badge")
        li: a(href='#')
            span(class="glyphicon glyphicon-trash")
            |Trash

block categories
    h5(class="list-group-item-heading")
        |CATEGORIES
    ul(class="list-unstyled" )
        li: a(href='#')
            span(class="circle")
            |Work
        li: a(href='#')
            span(class="circle")
            |Documents
        li: a(href='#')
            span(class="circle")
            |Social
        li: a(href='#')
            span(class="circle")
            |Advertsing
        li: a(href='#')
            span(class="circle")
            |Clients


block labels
    h5(class="list-group-item-heading")
        |LABELS
    a(class="btn btn-default" href="#" role="button" )
        span(class="glyphicon glyphicon-tag")
        |Family
    a(class="btn btn-default" href="#" role="button")
        span(class="glyphicon glyphicon-tag")
        |Work
    a(class="btn btn-default" href="#" role="button")
        span(class="glyphicon glyphicon-tag")
        |Home
    a(class="btn btn-default" href="#" role="button")
        span(class="glyphicon glyphicon-tag")
        |Children
    a(class="btn btn-default" href="#" role="button")
        span(class="glyphicon glyphicon-tag")
        |Holidays
    a(class="btn btn-default" href="#" role="button")
        span(class="glyphicon glyphicon-tag")
        |Music
    a(class="btn btn-default" href="#" role="button")
        span(class="glyphicon glyphicon-tag")
        |Photography
    a(class="btn btn-default" href="#" role="button")
        span(class="glyphicon glyphicon-tag")
        |Film

block main
    h5
        |FOLDERS

block footer
    p.p--copyright
        |Copyright Example Company &#x24B8; 2014-2015
    p.p--gb
        |10GB of
        |&nbsp
        strong 250GB
        |&nbsp
        |Free.

block mails
