doctype html
html
  head

    meta(charset='utf-8')
    title Square
    meta(name='description', content='Strona www ')
    meta(name='keywords', content=' Square ')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(http-equiv='Content-Script-Type', content='text/javascript')
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/css/bootstrap.css')

    script(type="text/javascript" src="/javascripts/lib/jquery.js")
    script(type="text/javascript" src='/javascript/js/bootstrap.js')
    script(type="text/javascript" src="/javascripts/script.js")
    script(src="/javascripts/lib/jquery.js")
    script(type="text/javascript" src="/javascripts/icheck.js")

    link(href="/stylesheets/square/green.css" rel="stylesheet")



  body.body--look
    div(class="container")
      div(class="row" id="yy")

        nav(class="col-lg-3" id="zz" )
          div(class="row compose text-center")
            block compose

          div(class="row list-group folders" id="folders")
            block folders

          div(class="row  categories")
            block categories

          div(class="row labels")
            block labels

        main(class="col-lg-9 main--look")
          header(class="row header--look" id="headerMeil")
            block header
          div(class="row list-group mails--look" id="getMeil")
            block mails

      footer(class="row footer--look")
          block footer
