@import 'div-nav/nav';
@import 'div-main/main';
@import 'div-footer/footer';


.body--look{

  padding: 30px;
  background-color: #f3f3f4;
}


.container{
    font-family: "Times New Roman", Times, serif;
    color:#707375;
    background-color: #f3f3f4;
}
