nav {
  background-color: #f3f3f4; }

.compose {
  padding: 15px; }
  .compose button {
    background-color: #1ab394;
    color: white; }

.folders {
  background-color: #f3f3f4;
  font-size: 15px; }
  .folders h5 {
    padding: 6px; }
  .folders ul {
    padding-right: 20px;
    padding-left: 10px; }
  .folders ul > li {
    padding-bottom: 10px;
    padding-top: 5px;
    border-bottom: 1px solid #e7eaec; }
  .folders ul > li > a {
    text-decoration: none;
    color: #676a6c;
    display: inline; }
  .folders .badge {
    min-width: 28px;
    border-radius: 4px;
    background-color: #f8ac59;
    float: right; }
  .folders .glyphicon {
    margin-right: 10px; }

.categories {
  font-size: 15px; }
  .categories h5 {
    padding: 6px; }
  .categories ul {
    padding: 5px; }
  .categories ul > li {
    padding: 5px; }
  .categories ul > li > a {
    text-decoration: none;
    color: #676a6c; }

.circle {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 10px; }

.labels {
  padding: 5px; }
  .labels h5 {
    padding: 6px; }
  .labels a {
    color: #676a6c;
    margin: 5px; }

.main--look {
  border: 1px solid #e7eaec;
  background-color: white; }
  .main--look .messages--look {
    padding: 20px;
    border-top: 1px solid #e7eaec; }

.header--look {
  background-color: white; }
  .header--look .view_message-date {
    margin-top: 20px;
    float: right;
    font-size: 14px; }

.div--search {
  padding-top: 10px;
  background-color: white; }
  .div--search .btn--float {
    float: right;
    margin-top: 20px;
    margin-left: 10px; }

.div--inbox {
  background-color: white; }
  .div--inbox button {
    margin: 5px; }

.mails--look {
  background-color: white; }
  .mails--look a {
    border: none; }
  .mails--look .th--notbold tr > th {
    font-weight: normal; }
  .mails--look .list-group-item {
    border-right: none;
    border-left: none;
    border-bottom: none; }
  .mails--look tr > th {
    text-align: left;
    border: none; }
  .mails--look .attachments {
    margin: 10px;
    border: 1px solid #e7eaec;
    padding: 10px;
    color: #dadada;
    height: 100px; }
  .mails--look .attach_doc {
    font-size: 70px; }
  .mails--look .attach_foto {
    background-color: #dadada; }

.footer--look {
  height: 40px;
  background-color: white;
  padding: 10px; }
  .footer--look .p--copyright {
    float: left; }
  .footer--look .p--gb {
    float: right; }

.body--look {
  padding: 30px;
  background-color: #f3f3f4; }

.container {
  font-family: "Times New Roman", Times, serif;
  color: #707375;
  background-color: #f3f3f4; }

/*# sourceMappingURL=style.css.map */
