//main
.main--look {
    border: 1px solid #e7eaec;
    background-color: white;
    .messages--look {
        padding: 20px;
        border-top: 1px solid #e7eaec;
    }
}
//header
.header--look {
    // border: 1px solid #e7eaec;
    background-color: white;
    .view_message-date {
        margin-top: 20px;
        float: right;
        font-size: 14px;
    }
}
.div--search {
    padding-top: 10px;
    background-color: white;
    .btn--float {
        float: right;
        margin-top: 20px;
        margin-left: 10px;
    }
}
.div--inbox {
    background-color: white;
    button {
        margin: 5px;
    }
}
//mails
.mails--look {
    background-color: white;
    a {
        border: none;
    }
    .th--notbold {
        tr > th {
            font-weight: normal;
        }
    }
    .list-group-item {
        border-right: none;
        border-left: none;
        border-bottom: none;
    }
    tr > th {
        text-align: left;
        border: none;
    }
    .attachments{
        margin: 10px;
        border: 1px solid #e7eaec;
        padding: 10px;

        color:#dadada;
        height: 100px;
    }
    .attach_doc{
font-size: 70px;
    }
    .attach_foto{
              
      background-color: #dadada;
    }

}
