//nav
nav{
    background-color: #f3f3f4;
}

.compose{
  padding: 15px;
  button{
    background-color: #1ab394;
    color: white;
  }
}

.folders{
  background-color: #f3f3f4;
  font-size: 15px;
  h5 {
    padding: 6px;
  }
  ul{
    padding-right: 20px;
    padding-left: 10px;

  }
  ul>li{
    padding-bottom: 10px;
    padding-top: 5px;
    border-bottom:1px solid #e7eaec;

  }
  ul>li>a{

    text-decoration: none;
    color:#676a6c;
    display: inline;

  }
  .badge {
    min-width: 28px;
    border-radius: 4px;
    background-color:#f8ac59;
    float: right;
  }
  .glyphicon{
    margin-right: 10px;
  }

}

.categories{
  font-size: 15px;
  h5 {
    padding: 6px;
  }
  ul{
    padding: 5px;
  }
  ul>li{
    padding: 5px;
  }
  ul>li>a{
    text-decoration: none;
    color:#676a6c;
  }

}

.circle{
  content:"";
  display:inline-block;
  width:10px;
  height:10px;
  border-radius:50%;
  margin-left: 5px;
  margin-right: 10px;
}

.labels{
  padding: 5px;
  h5 {
    padding: 6px;
  }
  a{
    color:#676a6c;
    margin: 5px;
  }

}
